%grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(24%, 1fr));

  @media (max-width: 600px) {
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  }
}
.display-file {
  .pages {
    @extend %grid;
    gap: 10px;
    justify-content: center;
    // min-height: 300px;
    padding: 10px;
    align-items: stretch;

    .page {
      @include extend("position-relative");
      %center {
        left: 50%;
        transform: translateX(-50%);
      }
      %left {
        left: 0;
      }
      %right {
        right: 0;
      }
      %l-r-c {
        &.left {
          @include extend("left");
        }

        &.center {
          @include extend("center");
        }

        &.right {
          @include extend("right");
        }
      }
      .page-number-bullet {
        @include extend("position-absolute rounded-circle bullet");
        &.top {
          top: 0;
          @include extend("l-r-c");
        }
        &.middle {
          top: 50%;
          transform: translateY(-50%);
          @include extend("l-r-c");
        }

        &.bottom {
          bottom: 0;
          @include extend("l-r-c");
        }
      }
    }
  }
  .initial-loader {
    height: 100vh;
    width: 100%;
    @include extend("d-flex justify-content-center align-items-center");
  }
  .drag-element {
    .image-tooltip,
    .item-tooltip {
      height: 100%;
    }

    .drag-element-img {
      cursor: all-scroll !important;
      height: 100%;
    }

    .item-img {
      cursor: pointer;
    }

    display: flex;
    flex-direction: column;

    &.dragging {
      scale: 1.05 !important;
    }

    p {
      margin: 0;
    }

    @extend %show-action;
  }

  .tooltip-container {
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
  }

  %show-action {
    position: relative;

    .action-div {
      position: absolute;
      top: 1%;
      left: 50%;
      transform: translateX(-50%);
      width: 98%;

      button {
        color: var(--gray-dark);
      }
    }

    &:hover .action-div {
      opacity: 1;
    }

    &:not(:hover) .action-div {
      opacity: 0;
    }
  }

  .card.item {
    height: 100%;
    @extend %show-action;
  }

  // .action-div {
  //     position: absolute;
  //     top: 0;
  //     left: 0;
  //     z-index: 1;
  //     display: flex;
  //     flex-direction: column;
  //     align-items: center;
  //     justify-content: center;
  //     height: 100%;
  //     width: 100%;
  //     opacity: 0;
  //     transition: opacity 0.2s ease-in-out;
  // }

  .hero-icon {
    display: inline-block;
    width: 1.3em;
    height: 1.3em;
  }
}
