.features {
    @include extend("d-flex flex-wrap text-center justify-content-between");

    &.d-none {
        @include extend("d-none");
    }

    .feature {
        @include extend("d-flex flex-column justify-content-evenly align-items-center");

        @include xs {
            flex: 0 1 100%;
        }

        @include md {
            flex: 0 1 42%
        }

        @include xl {
            flex: 0 1 32%
        }

        .feature-icon {
            width: 3em;
            height: 3em;
            fill: currentColor;
            color: currentColor
        }


        .title {
            @include extend("h3");
        }

        .description {
            @include extend("lead")
        }
    }
}