.split-pdf-tool {
  width: 100%;
  height: 100%;

  .option-row {
    // outline: 1px solid;
    width: 100%;
    justify-content: space-between;
    @extend %list-group;
    flex-direction: row;
    // @extend %list-group-flush;
    [class*="col-"] {
      @include extend("p-0");
    }
    .option {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      cursor: pointer;

      @include extend("list-group-item list-group-item-action py-0");
      &:hover {
        background-color: unset;
        color: var(--bs-list-group-color);
      }
      &.active,
      &.active:hover {
        @extend %active-list-item;
        color: var(--bs-list-group-color);
      }

      .option-icon {
        width: 32px;
        height: 32px;
        margin-bottom: 4px;
      }

      // .option-title {
      // }
    }
  }
  *.row {
    @include extend("m-0");
  }
  .split-category {
    // outline: 1px solid;
    // @include extend("p");

    width: 100%;
    height: 100%;
    .header {
      grid-area: header;
      grid-column: 1 / -1;
      @include extend("px-3");
    }
    .btn-row {
      @include extend("py-4 row flex-nowrap");
      // outline: 1px solid;
      .btn {
        // @include extend("col");
        width: unset;
        box-shadow: 0 0 0 0.1rem #6c757d;
        &.active,
        &:focus {
          box-shadow: 0 0 0 0.2rem map-get($color-map, "split-pdf");
        }
      }
    }
    .body {
      grid-area: body;
      grid-area: footer;
      grid-column: 1 / -1;
    }

    .split-category-title {
      @include extend("text-uppercase my-3 mx-0");
      padding-left: 0 !important;
      color: map-get($color-map, "split-pdf");
      font-weight: 500;
    }
    &.extract-split {
      // outline: 1px solid;
      *:not(.btn, input) {
        // @include extend("m-0 p-0");
        padding: 0;
        margin: 0;
      }
      .split-category-title {
        @include extend("py-3 mx-0");
      }
      .btn-row {
        @include extend("py-4 row flex-nowrap justify-content-between");
      }
      @include extend("px-4");
      .select-all {
        .title {
          @include extend("pb-4");
        }
        .merge-input {
          @include extend("py-4 align-items-baseline");
          label {
            @include extend("lead");
          }
        }
        .alert {
          @include extend("p-3 my-3");
        }
      }
    }
    &.range-split {
      .range-input {
        @include extend("py-3");
      }
      .range-input-wrapper {
        @include extend("px-0");
        .input-group {
          flex: 0 0 49%;
          @include extend("m-0");
          > *.form-control {
            @include extend("col-6");
            // outline: 1px solid;
          }
        }

        .delete-button {
          left: 0;
          top: -0.5em;
        }
      }
      .fixed-range {
        .input {
          @include extend(
            "row flex-nowrap justify-content-between align-items-center p-3 m-0"
          );
          > * {
            @include extend("m-0");
            &.label {
              // outline: 1px solid;
              @include extend("m-0 p-0");
            }
          }
          .form-control {
            @include extend("col-3");
          }
        }
        .alert {
          @include extend("my-2 mx-3 p-3");
        }
      }
      .range {
        .card {
          @include extend("py-1");
        }
      }
    }
    .add-btn {
      @include extend("my-3");
    }
  }
}
