@import "~cssmolecule";
@import "~custom-bs";
// @include type;
@include images;
@include containers;
@include grid;
@include tables;
@include forms;
@include buttons;
@include transitions;
@include dropdown;
@include button-group;
@include nav;
@include navbar;
@include card;
@include accordion;
@include breadcrumb;
@include pagination;
@include badge;
@include alert;
@include progress;
@include list-group;
@include close;
@include toasts;
@include modal;
@include tooltip;
@include popover;
@include carousel;
@include spinners;
@include offcanvas;
@include placeholders;

// Helpers
@include helpers;

%debug {
  outline: 1px solid;
}

@import "./scss/minxins";
@import "./scss/placeholders";
@include list-group;
@include api;

$pdf-color: #fc271c;
$color-map: (
  "merge-pdf": $pdf-color,
  "split-pdf": #fd7e14,
  "compress-pdf": #28a745,
  "pdf-to-powerpoint": #c13b1b,
  "jpg-to-pdf": #f1c40f,
  "word-to-pdf": #1b5ebe,
  "powerpoint-to-pdf": #c13b1b,
  "excel-to-pdf": #10793f,
  "web-to-pdf": #0984e3,
  "pdf-to-text": #4493e1,
  "html-to-pdf": rgb(228, 77, 38),
  "pdf-to-jpg": #f1c40f,
  "pdf-to-word": #1b5ebe,
  "pdf-to-excel": #10793f,
  "pdf-to-pdf-a": #000000,
  "pdf-to-html": rgb(228, 77, 38),
  "pdf-to-markdown": #000000,
  "translate-pdf": #185abc,
);

// html,
// body,
// #__next,
// .tools-page {
//   height: 100%;
// }

.tools-page {
  min-height: fit-content;
}

.h-5,
.icon {
  height: 1em;
}

.w-5,
.icon {
  width: 1em;
}

.object-fit-cover {
  object-fit: cover;
  object-position: center;
}

.object-fit-contain {
  object-fit: contain;
  object-position: center;
}

.img-fluid-custom {
  max-width: 100%;
  height: 100%;
}

.bdi,
a.dropdown-item {
  unicode-bidi: isolate;
}

@media (min-width: 992px) {
  .drop-down-container {
    flex-wrap: nowrap !important;
  }
}

/* tools page */

.tools {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 69vh;
}

.dropdown-item {
  &.active,
  &:active {
    background-color: initial !important;
    color: #212529 !important;
  }
}

.react-tooltip {
  z-index: 100;
}

// error element styles
.error-element {
  .hide-on-rtl {
    [dir="rtl"] &,
    [lang="ar"] & {
      display: none;
    }
  }

  .hide-on-rtl {
    [dir="ltr"] &,
    :not([lang="ar"]) & {
      display: none;
    }
  }
}

@import "./scss/toolspage";
@import "./scss/editpage";
@import "./scss/display-file";
@import "./scss/navbar";

footer {
  .copyright-row {
    @include xs {
      margin-bottom: 1em;
      justify-content: space-between;

      .copyright-text,
      .lang-dropdown {
        flex: 0 1 49%;
      }

      .copyright-text {
        :not(:lang(ar)) & {
          text-align: right;
        }
      }
    }
  }

  .terms-row {
    @include xs {
      justify-content: space-between !important;
    }
  }
}
